<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ post.title }} - Blog Away</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/admin">Admin</a></li>
        <li><a href="{% url 'home' %}">Back</a></li>
        <ul>
    </nav>
  </header>
  <main>
    <h1>{{ post.title }}</h1>
    <h2>{{ post.created }}</h2>
    <p>
      Keywords:
      {% for keyword in post.keywords.all %} {{ keyword.word }} {% endfor %}
    </p>
    <div>
      {{ post.content }}
    </div>
    <h3>Comments</h3>
    {% for comment in post.comments.all %}
    <div>
      <div>{{ comment.author }} on {{ comment.created }}</div>
      <p>
        {{ comment.content }}
      </p>
    </div>
    {% empty %}
    <p>There are not comments for this post.</p>
    {% endfor %}
    <p><a href="{% url 'post_update' post.id %}">Edit Post</a></p>
  </main>
  <footer></footer>
</body>

</html>